<!DOCTYPE html>
<html>
	<head>
		<title>Province</title>
		<script>
		function checkAll()
	{
		var selected = $("#selectAll").prop("checked");
		if (selected)
			$("input:checkbox").prop("checked",true);
		else
			$("input:checkbox").prop("checked",false);
		
		return true;
	}
	function deleteRows()
	{
		var n = $("input:checkbox:checked" ).not("#selectAll").length;
		if (n<=0)
		{
			alert('Please select the province[s] to delete!');
			return false;
		}
		else
		{
			data = $("input:checkbox:checked" );
			var ids="";
			$.each(data,function(key,value)
			{
				//alert(this.value);
				if (this.value !=-1)
				ids = ids + this.value + ",";
				
			});
			ids = ids.substring(0,ids.lastIndexOf(","));
			$("#idstodelete").prop("value",ids);
			alert("yes");
			this.id = ids;
			alert("yes");
			//alert(ids);
			if (confirm('Are you sure?')==true)
			{
				return true;
			}		
			else
			{
				return false;
			}
		}
	}
			
			function updateData(mode,data,rowid)
			{
				if (mode=="new")
				{
				$("#datalist > tbody:last").append(data);
				}
				else
				{
				$("#" + rowid).replaceWith(data);
				}
				 
			}
			$(function() {
				
			$( "#dialog-form" ).dialog({
	      autoOpen: false,
	      height: 160,
	      width: 250,
	      modal: true,
	      // buttons: {
	        // "OK": function() {
	        	// alert("ok");
	            // $( this ).dialog( "close" );
	        	// },
	        // Cancel: function() {
	          // $( this ).dialog( "close" );
	        	// }
	      	// }
	    	});
	 
	    $("#btnClose").click(function()
	    {
	    	$("#dialog-form").dialog("close");
	    	//var x = $( "#dialog-form" );
	    	//$(x).dialog("close");
	    	//this.window.document.close();
	    })
	 $('.ui-dialog-buttonpane').find('button').css('visibility','hidden');

	    $("#btnNew").click(function() {
	        $( "#dialog-form" ).dialog( "open" );
	        //$("#newdialog").attr('src','http://0.0.0.0:3000/provinces/new?mode=new');
	        $("#newdialog").attr('src','<%=new_province_url%>?mode=new');
	      });
	  });
	  
	  function openProvince(id)
	  {
	  	$( "#dialog-form" ).dialog( "open" );
	    //$("#newdialog").attr('src','http://0.0.0.0:3000/provinces/'+id+'/edit?mode=edit');
	    $("#newdialog").attr('src','<%=provinces_path%>/'+id+'/edit?mode=edit');
	  }
  
		</script>
	</head>
	<body>
		
		<!-- new dialog start -->
		<div id="dialog-form" title="Create new province" style="background-color:grey">
			<iframe id="newdialog" name="newdialog" seamless="seamless" frameborder="0" scrolling="no"> 
		    </iframe>
		</div>
		<!-- new dialog end -->
		<header>
			<h1>List of Provinces</h1>
		</header>
		<!-- <%= form_tag(:remote=>true) do %> -->
		<section>
			<%= button_to "Delete", { action: "delete",:id=>"1,2,3,4" },
                                 :remote=>true, "onclick"=>"deleteRows()"%>
                 
			<input type="button" id="btnNew" value="New">
			<!-- <input type="submit" id="bntDelete" name="btnDelete" value="Delete" onclick="return deleteRows();"> -->
			<input type="button" id="btnClose" value="Close">
		</section>
		<section>
			<table id="datalist" border="1">
				<thead>
					<tr>
						<th><input type="checkbox" id="selectAll" onclick="checkAll();" /></th>
						<th>Name</th>
						<th>Date Created</th>
					</tr>
				</thead>
				<tbody>
					<% @provinces.each do |p| %>
					<tr id="r<%=p.id%>">
						<td> <input type="checkbox" id="row<%=p.id%>" name="ps[]" value="<%=p.id%>">
						<td> <a href="javascript:openProvince(<%=p.id%>)"> <%=p.name%></a></td>
						<td> <%=p.created_at%></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</section>
		<!-- <% end %> -->
		<div id="dl">
		</div>	
	</body>
</html>
